* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #008374;

    .container {
        .row {
            .navbar {
                background-color: #008374 !important;

                h1 {
                    color: white;
                }

                .nav {
                    &-item {
                        margin-right: 5px;

                        .nav-link {
                            color: rgba(255, 255, 255, 0.6);
                            font-size: 18px;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            transition: 0.3s;
                            position: relative;

                            &::before {
                                content: "";
                                background-color: coral;
                                width: 0%;
                                height: 2px;
                                position: absolute;
                                bottom: -6px;
                                left: 0;
                                transition: .5s;
                            }

                            &:hover::before {
                                width: 100%;
                            }


                        }

                        &:hover {

                            .nav-link {
                                color: white;
                            }
                        }

                        &:nth-child(1) .nav-link {
                            color: white;
                            text-decoration-color: white;
                            position: relative;
                        }

                        &:nth-child(1) .nav-link::before {
                            content: "";
                            position: absolute;
                            bottom: -6px;
                            left: 10px;
                            width: 80%;
                            height: 2px;
                            background-color: coral;

                        }
                    }
                }
            }

            .text {
                color: #8DC8C1;
            }

            .btn {
                font-size: 20px;

                &:nth-child(1) {
                    width: 200px;
                    background-color: #1A9082;
                    border-radius: 30px;
                    border: 2px solid #8DC8C1;

                    &:hover {
                        background-color: #1A9082;
                    }
                }

                &:nth-child(2) {
                    width: 200px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.6);

                    svg {
                        margin-right: 5px;
                    }

                    &:hover svg {
                        color: white;
                    }

                    &:hover {
                        color: white;
                    }
                }
            }

            a {
                text-decoration: none;

                .title {
                    color: white;
                    font-weight: 800;
                    font-size: 50px;
                    text-decoration: none;
                }
            }

            .card {
                background-color: #008d7d;
                transition: 1s;

                &-body{
                    color: white;
                    font-size: 30px;
                    font-weight: 600;
                }

                svg{
                    color: #06b6a2;
                    transition: 1s;
                }

                &:hover {
                    background-color: #06b6a2;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

                    svg{
                        color: white;
                    }
                }
            }

    
        }
    }
}